body {
  background-color: #ecd1f0;
}

h1.text-center {
  color: #7c7272;
  font-size: 3em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  text-shadow: #353333 1px 2px 2px;
}
div > h4 {
  text-shadow: #353333 1px 2px 2px;
  color: #f9f9f9;
}
